<!DOCTYPE html>
<html lang="en">
{{ template "_head.html" }}
<body>
    {{ template "_nav.html" }}
    <div class="container">
        <h1>{{ .Name }}</h1>
        <p>{{ .Bio }}</p>
        <a href="/people/{{ .ID }}/edit" class="btn btn-default" role="button">Edit details</a>
        <a href="/people" class="btn btn-default" role="button">Go back to the list</a>

        <br/><br/>

        {{ range .Interactions }}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ .Details }}
                </div>
                <div class="panel-footer">{{ .FormattedDate }}</div>
            </div>
        {{ end }}
  </div>
</body>
</html>
